<h1>Poll details</h1>

<p>
    <strong>Poll Description:</strong>
    <%= @polls.Poll_contents %>
</p>

<p>
    <strong>Choice 1:</strong>
    <%= @polls.Choice_1 %>
</p>

<p>
    <strong>Choice 2:</strong>
    <%= @polls.Choice_2 %>
</p>

<p>
    <strong>Choice 3:</strong>
    <%= @polls.Choice_3 %>
</p>

<p>
    <strong>Choice 4:</strong>
    <%= @polls.Choice_4 %>
</p>

<%= link_to 'Back', polls_path %>