<<<<<<< HEAD
<h1> New User</h1>
<%= form_for :user, url: user_path do |f| %>
  <p>
    <%= f.label :Name %><br>
    <%= f.text_field :Name %>
  </p>
 
  <p>
    <%= f.label :Username %><br>
    <%= f.text_field :Username %>
  </p>
  
  <p>
    <%= f.label :Email %><br>
    <%= f.text_field :Email %>
  </p
  
  
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
=======
<h1>New User</h1>

<%= form_for :user, url: user_index_path do |f| %>

    <p>
        <%= f.label :username %><br>
        <%= f.text_field :username %>
    </p>
    
    <p>
        <%= f.label :password %><br>
        <%= f.text_area :password %>
    </p>
    
    <p>
        <%= f.submit :"Create User" %>
    </p>
   
  <% end %>
>>>>>>> d748996ba4640c41bfac7cbbffdfca0db92855f3
