<h1>New User</h1>

<%= form_for :user, url: user_index_path do |f| %>

<% if @user.errors.any? %>
    <div id = "error_explanation">
        <h2>
            <%= pluralize(@user.errors.count, "error") %> prohibited this
            user from being created:
        </h2>
        <ul>
            <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
    <% end %>

    <p>
        <%= f.label :username %><br>
        <%= f.text_field :username %>
    </p>
    
    <p>
        <%= f.label :password %><br>
        <%= f.text_area :password %>
    </p>
    
    <p>
        <%= f.submit :"Create User" %>
    </p>
   
  <% end %>
  
  <p1>
  <%= link_to 'Back to home page', home_index_url %>
  </p1>
